@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(238deg, #E3F2FF 0%, #DCE9F2 100%);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 2px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #319DFF;
  color: white;
  border-radius: 10px;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}